.container {
  max-width: 1000px;
}

input::placeholder {
  color: #1c459c60;
  font-size: 15px;
}

.text-danger {
  font-size: 10px;
}

.card {
  border: none;
}

label,
p {
  color: #1C449C;
}

label {
  text-align: left;
  font-size: 18px;
}

form>div {

  display: flex;
  flex-direction: column;
}

.input-custom {
  box-shadow: 0 4px 8px #1c459c42;
  border: none;
  border-radius: 2px !important;
  padding: 15px;
}


.checkbox-shadow {
  box-shadow: 0 4px 8px r#1c459c42;
  margin: 15px;

}

h6 {
  color: rgb(186, 31, 31);
}